<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412948076040-qvhfrqgb4batlh9is7ld50bj5fmgsvq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412948076040-qvhfrqgb4batlh9is7ld50bj5fmgsvq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412948076040-0bp3utlk73bu643c8merjfufmj08g8q4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNaU6joDuVWYYBKVnisM2qNhZUSyP7Pvc</string>
	<key>GCM_SENDER_ID</key>
	<string>412948076040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.hansmboron.hmbplayer</string>
	<key>PROJECT_ID</key>
	<string>hmb-player</string>
	<key>STORAGE_BUCKET</key>
	<string>hmb-player.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412948076040:ios:8de81e848a6630b6b763bd</string>
</dict>
</plist>